@import 'resets', 'variables';

body {
    font-family: Inter, sans-serif;
    background-color: $light-pink;
}

header {
    background-color: $tomato-red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 550px;
    height: 55px;
    margin: auto;

    img {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
    }

    h3 {
        color: $white;
        font-size: 14.461px;
        font-weight: 500;
        letter-spacing: -1.085px;
        margin-left: 7px;
    }
}

.card-list {
    width: 80%;
    max-width: 550px;
    margin: auto;
    padding: 40px 0;
    background-color: $white;

    .card {
        display: grid;
        grid-template-columns: 125px 1fr;
        grid-template-areas:
            "card-image location"
            "card-image title"
            "card-image visit-dates"
            "card-image description";
        column-gap: 19px;
        width: 90%;
        margin: auto;

        &:not(:first-child) {
            margin-top: 36px;
        }

        .card-image {
            width: 125px;
            height: 168px;
            border-radius: 5px;
            object-fit: cover;
            grid-area: card-image;
        }

        .location {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            grid-area: location;
            padding-top: 12px;

            img {
                width: 7px;
                height: 9.545px;
            }

            h3 {
                color: $black-purple;
                font-size: 10.24px;
                font-weight: 400;
                letter-spacing: 1.741px;
                text-transform: uppercase;
                margin-left: 4px;
            }

            p {
                display: flex;
                align-items: center;
                margin-left: 12px;

                a {
                    color: $gray-purple;
                    font-size: 10.24px;
                    font-weight: 400;
                    text-decoration-line: underline;
                }
            }
        }

        .card-title {
            color: $black-purple;
            font-size: 25px;
            font-weight: 700;
            grid-area: title;
        }

        .visit-dates {
            color: $black-purple;
            font-size: 10.24px;
            font-weight: 700;
            grid-area: visit-dates;
            line-height: normal;
            height: 11px;
            align-self: center;
        }

        .description {
            width: 326px;
            color: $black-purple;
            font-size: 10.24px;
            font-weight: 400;
            line-height: 150%;
            grid-area: description;
        }
    }

}